:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* My rules */

body {
    background-color: #F8F9FA;
}

div {
    display: flex;
}

.parent {
    display: flex;
    font-size: 12pt;
}

/* Banner */

.div1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
}

.bg {
    background: url(hameen-reynolds-zWFa7mlQAYk-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    margin-top: 160px;
    background-color: hwb(0 0% 100% / 0.4);
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: 10px 0;
}

.credits {
    margin-top: auto;
    justify-content: center;
    font-size: 1rem;
    background-color: hwb(0 0% 100% / 0.4);
}

/* Form */

.div2 {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.div2 .tittles {
    padding: 12px 22px;
    flex: 1;
    flex-direction: column;
}

.tittles p {
    font-size: large;
    font-weight: 600;
}

/* Form */
.div2 .form {
    --shadow-color: rgba(0, 0, 0, 0.2);
    box-shadow: 6px 6px 16px var(--shadow-color);

}

form {
    display: block;
    align-items: center;
    margin-bottom: 1em;
}

fieldset {
    border: 0;
    padding: 1em 0 0 0;
    margin: 0;
    min-width: 0;
}

legend {
    font-size: large;
    font-weight: 600;
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0 3rem;
}

.input-grid > div {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 0.1em;
    font-size: x-small;
    font-weight: 600;
    text-transform: uppercase;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 1em;}

.div2 {
    background-color: #FFFFFF;
    padding: 12px 22px;
    flex: 1;
}

.div2 .submit {
    padding: 12px 22px;
    flex: 1;
    flex-direction: column;
}

.submit button {
    --button_radius: 0.25em;
    --button_color: #e8e8e8;
    --button_outline_color: #596D48;
    --shadow-color: rgba(0, 0, 0, 0.2);
    color: white;
    width: 200px;
    padding: 12px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    box-shadow: 6px 6px 16px var(--shadow-color);
}

.submit .login {
    padding: 12px 22px;
}